.slide_arrow.left {
	color: #fff;
	font-size: 2rem;
	position: sticky;
	top: 50%;
}

.slide_arrow.right {  
  float: right;
  font-size: 2rem;
	position: sticky;
  bottom: 45%;
  right: 25%;
  color: #fff;
}