.card {
  width: 19%;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
  font-family: 'Montserrat';
}

.card .card_media {
  height: 190px;
  box-sizing: border-box; 
}

.card .card_content {
   color: gray;
   font-size: 1rem;
}

.card .overlay {
  position: absolute;
  font-weight: 300;
  top: 140px;
  left: 15px;
  color: #fff;
}

.list_price {
  font-size: 1.5rem;
}

.built_in {
  font-size: 0.9rem;
}

.items {
  border-collapse: collapse;
  width: 100%;
}

.grossyield {
  width: 50%;
  border-left: 1px solid #DCDCDC;
}

.grossyield span {
  margin-left: 10px;
}

.items tr {
  height: 25px;
}

.address1 {
  margin-top: 5px;
}

@media screen and (max-width: 1439px) {
  .card {
    width: 24%;
  }
}

@media screen and (max-width: 1119px) {
  .card {
    width: 32%;
  }
}

@media screen and (max-width: 991px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 70%;
    margin-left: 10%;
  }
}
