.card {
  width: 19%;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}

.card .card_media {
  height: 190px;
  box-sizing: border-box; 
}

.card .card_content {
   font-family: 'Montserrat';
   color: gray;
   font-size: 1rem;
}

.card .overlay {
  position: absolute;
  font-family: 'Montserrat';
  font-weight: 300;
  top: 140px;
  left: 15px;
  color: #fff;
}

.list_price {
  font-size: 1.5rem;
}

.built_in {
  font-size: 0.9rem;
}

.gridItems {
  display: grid;
}